.container{
  padding-top: 50px;
}

.extra-art-container{
  text-align: center;
}

#thumbnail{
  width: 400px;
  margin-top: 28px;
}

.btn{
  text-align: center;
  height: 50px;
  width: 100%;
  margin: 20px;
}

#play{
  background: #FF8700;
}

#pause{
  background: #FFB200;
  display: none;
}

iframe{
  opacity: 0;
  position: absolute;
  right: -50px;
}

#player{
  overflow: hidden;
  position: relative;
}

.smallThumbnail{
  width: 100%;
}

#extraArtRow{
  margin: 0px 20px;
}
